@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    margin: 0;

}

.font-raleway- {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
}



/* nav section star ------------------------------- */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 140px 0 140px;
}

.nav-logo {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-logo img {
    height: 100%;
}

ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

ul a {
    text-decoration: none;
}

.school-title {
    color: rgb(17, 17, 17);
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;

}

.home {
    color: rgb(254, 163, 1);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 30px;
}

.about {
    color: rgb(1, 172, 253);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 30px;
}

.facilities {
    color: rgb(5, 212, 223);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 30px;
}

.admission {
    color: rgb(93, 88, 239);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 30px;
}

.nav-btn {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 30px;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    padding: 16px 61px;
    border: none;
}

.responsive {
    display: none;
}

hr {
    display: none;
}


/* nav section end -------------------------------------------------- */


/* banner section star ----------------------------------------------- */

.banner-section {
    padding: 20px 140px 0 140px;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.Empowering {
    color: rgb(254, 163, 1)
}

.towards {
    color: rgb(1, 172, 253);
}

.banner-img img {
    width: 100%;
}

.banner-title {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
}

.banner-describtion {
    color: rgb(17, 17, 17);
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 24px;
}

.btn-primary {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 30px;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    padding: 10px 47px;
    border: none;
}


/* banner section end ----------------------------------------------- */


.card-container {
    display: flex;
    gap: 30px;
    border-radius: 18px;
}

.standard-section {
    margin-top: 60px;
    margin: 0 140px;
    margin-bottom: 80px;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.standard-title {
    margin-bottom: 80px;
    color: rgb(0, 0, 0);
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
}

.kinder-card {
    background-image: linear-gradient(rgb(222, 245, 255), rgb(255, 255, 255));
    padding: 60px 40px;
    text-align: center;
    border-radius: 18px;
    border: 0.94px solid rgb(222, 245, 255);
}

.elementary-card {
    background-image: linear-gradient(rgb(255, 244, 220), rgb(255, 255, 255));
    padding: 60px 40px;
    text-align: center;
    border-radius: 18px;
    border: 0.94px solid rgb(255, 244, 220);
}

.middle-card {
    background-image: linear-gradient(rgb(238, 225, 255), rgb(255, 255, 255));
    padding: 60px 40px;
    text-align: center;
    border-radius: 18px;
    border: 0.94px solid rgb(238, 225, 255);
}

.kinder-title {
    color: rgb(32, 32, 32);
    font-size: 24.52px;
    font-weight: 700;
    margin-bottom: 33px;

}

.card-img {
    margin-bottom: 33px;
}

.kinder-describe {
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    margin-bottom: 40px;
}

.kinder {
    color: rgb(100, 200, 255);

}

.elementary {
    color: rgb(240, 170, 0)
}

.middle {
    color: rgb(135, 0, 255)
}

.read-more {
    margin-bottom: 58px;
}

.banner-arrow-btn {
    display: flex;
    justify-content: center;
    margin: 80px 0 60px 0;
    gap: 15px;

}

.arrow-btn {
    border-radius: 50px;
    background: rgb(254, 163, 1);
    width: 60px;
    height: 60px;
    border: none;
}

/* standard curriculam section end -------------------------------------- */

/* our stories section star ------------------------- */

.our-stories-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.our-stories-section {

    padding: 0 140px;
    background: url(image), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 70%), url(../assets/bg.png);
    /* background-repeat: no-repeat; */


}

.our-stories {
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
}


.first-card {
    border-radius: 16px;
    background: rgb(255, 255, 255);
    width: 540.27px;
    height: 630.52px;
}

.first-card img {
    border-radius: 16px 16px 0px 0px;

}

.card-text-box {
    padding: 40px;
}

.first-card-title {
    color: rgb(0, 0, 0);
    font-size: 1.8rem;
    font-weight: 700;
}

.first-card-describtion {
    color: rgb(102, 102, 102);
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;
    line-height: 28.76px;

}

.first-card-btn {
    position: absolute;
    margin-top: 315px;
    margin-left: -500px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    padding: 14px 19px;
    border: none;

}

.story-card {
    width: 290.69px;
    height: 301.61px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.story-title {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 700;
    line-height: 28.76px;
    padding-left: 20px;
    padding-top: 22px;
    padding-right: 20px;

}

.story-4-btn {
    position: absolute;
    margin-top: -30px;
    margin-left: 40px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;
    padding: 14px 19px;
    border-radius: 47.93px;
    background: rgb(149, 178, 38);
    border: none;

}

.story-4-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.btn-img-con img {
    border-radius: 16px 16px 0px 0px;
}

.stories-btn {
    text-align: center;
    margin-top: 60px;
    padding-bottom: 90px;
}

.summber-btn {
    background: rgb(93, 88, 240);
}

.classroom-btn{
    background: rgb(1, 172, 253);
}



/* our stories section end ------------------------- */





/* footer section star */
.footer-container {
    padding: 135px 228px 179px 150px;
    display: flex;
    background: rgb(1, 172, 253);
    justify-content: space-between;
    /* align-items: center; */
}

.logo-footer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-footer img {
    height: 100%;
}

.footer-title {
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 2.6rem;
    font-weight: 700;

}

.footer-describtion {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 400;

}

.about-school {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.about-title {
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: 700;

}

.footer-ul {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}

.li {
    list-style: none;
}

.keep-title {
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    font-weight: 700;

}

.footer-icons {
    display: flex;
    gap: 10px;
}

/* footer section end */


















/* ----------------------- responsive design for mobile */

@media screen and (max-width: 576px) {

    .school-title,
    ul,
    .nav-btn {
        display: none;
    }

    .nav-container {
        padding: 20px 20px 10px 20px;
    }

    .banner-section {
        padding: 0 20px;
    }

    .responsive {
        display: block;
    }

    .responsive img {
        width: 100%;
    }

    hr {
        display: block;
        padding: 0;
        border: 1px solid rgb(254, 163, 1);
    }

    .banner-container {
        flex-direction: column-reverse;
        text-align: center;

    }

    .banner-title {
        font-size: 2rem;
        margin: 0;
    }

    br {
        display: none;
    }

    .card-container {
        flex-direction: column;
    }

    .standard-section {
        margin: 20px;
    }

    .standard-title {
        font-size: 2rem;
        margin-top: 80px;
        margin-bottom: 40px;
    }

    .kinder-card,
    .elementary-card,
    .middle-card {
        padding: 20px;
    }

    .card-img,
    .kinder-describe,
    .kinder-title,
    .read-more {
        margin: 10px;
    }

    .banner-arrow-btn {
        display: none;
    }

    .footer-container {
        padding: 20px;
        flex-direction: column;
    }

    .first-card {
        display: none;
    }

    .story-4-card-container {
        width: 100%;
    }

    .our-stories-section {
        padding: 20px;
    }

    .story-4-card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .story-card {
        width: 100%;
        height: 100%;
    }

    .story-card img {
        width: 100%;
        height: 100%;
    }

    .story-4-btn {
        position: absolute;
        margin-top: 80px;
        margin-left: -150px;
        font-size: 9px;
        padding: 10px;
    }

    .story-title {
        font-size: 9.13px;
        margin-bottom: 19px;
        color: rgb(0, 0, 0);
        font-weight: 700;
        line-height: 17.12px;
        letter-spacing: 0%;
        text-align: left;
    }

}